# Copy this file into the environment folder and use it in you terraform command like so `terraform -backend=true -backend-config=backend.hcl`

address        = "gitlab_state_address"
lock_address   = "gitlab_unlock_address"
unlock_address = "gitlab_unlock_address"
username       = "gitlab-ci-token"
password       = "<GITLAB_ACCESS_TOKEN>"  # Generate one in gitlab with the API permission
lock_method    = "POST"
unlock_method  = "DELETE"
retry_wait_min = "5"
